*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: url();
	height: 100vh;
	background-size: cover;
	background-
}




body {
  background-color: pink;
}
a{
  text-decoration: none;
}
#wrapper {
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
}

#Logo {
text-align: center;
margin: 0;
}
