
h1 {
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: pink; 
 
}

.image{
  text-align: center;
}

.profile-image{
  text-align: center;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid purple;
  transition: all .5s
  
}

.profile-image:hover {
  transform: scale(1.2) rotate(720deg);
 
}

.heading{
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
   
}

.jobtitle{
  text-transform: uppercase;
  font-weight: 700;
  
}